Source: libolecf
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config, python-dev, python-setuptools, python3-dev, python3-setuptools, libfuse-dev
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libolecf
Vcs-Git: https://github.com/libyal/libolecf.git

Package: libolecf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libolecf1
Replaces: libolecf1
Suggests: libolecf-dbg
Description: Library to access the Object Linking and Embedding (OLE) Compound File (CF) format
 libolecf is a library to access the Object Linking and Embedding (OLE) Compound File (CF) format.

Package: libolecf-dbg
Architecture: any
Section: debug
Depends: libolecf (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libolecf
 Debugging symbols for libolecf.

Package: libolecf-dev
Section: libdevel
Architecture: any
Depends: libolecf (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libolecf
 Header files and libraries for developing applications for libolecf.

Package: libolecf-tools
Section: utils
Architecture: any
Depends: libolecf (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: libolecf-utils
Replaces: libolecf-utils
Description: Several tools for reading Object Linking and Embedding (OLE) Compound Files (CF)
 Several tools for reading Object Linking and Embedding (OLE) Compound Files (CF).

Package: libolecf-tools-dbg
Section: debug
Architecture: any
Depends: libolecf-tools (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libolecf-tools
 Debugging symbols for libolecf-tools.

Package: libolecf-python
Section: python
Architecture: any
Depends: libolecf (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: python-libolecf
Replaces: python-libolecf
Suggests: libolecf-python-dbg
Description: Python 2 bindings for libolecf
 Python 2 bindings for libolecf.

Package: libolecf-python-dbg
Section: debug
Architecture: any
Depends: libolecf-python (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libolecf-python
 Debugging symbols for libolecf-python.

Package: libolecf-python3
Section: python
Architecture: any
Depends: libolecf (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: python3-libolecf
Replaces: python3-libolecf
Suggests: libolecf-python3-dbg
Description: Python 3 bindings for libolecf
 Python 3 bindings for libolecf.

Package: libolecf-python3-dbg
Section: debug
Architecture: any
Depends: libolecf-python3 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libolecf-python3
 Debugging symbols for libolecf-python3.

