# Build OSSFuzz fuzz targets from source.
name: build_ossfuzz
on:
  push:
    branches: [main]
permissions: read-all
jobs:
  build_ossfuzz:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - architecture: 'x64'
          compiler: 'gcc'
          configure_options: ''
    steps:
    - name: Install build dependencies
      run: |
        sudo apt-get -y install git
    - uses: actions/checkout@v5
      with:
        repository: google/oss-fuzz
        path: oss-fuzz
    - name: Build OSSFuzz fuzz targets
      working-directory: oss-fuzz
      run: |
        mkdir -p projects/libolecf
        cp projects/libyal/build.sh projects/libolecf/
        cp projects/libyal/project.yaml projects/libolecf/
        head -n 20 projects/libyal/Dockerfile > projects/libolecf/Dockerfile
        echo "RUN git clone --depth 1 https://github.com/libyal/libolecf.git libolecf" >> projects/libolecf/Dockerfile
        tail -n 3 projects/libyal/Dockerfile >> projects/libolecf/Dockerfile
        python3 infra/helper.py build_image --pull libolecf
        python3 infra/helper.py build_fuzzers --sanitizer address libolecf
        python3 infra/helper.py check_build libolecf
